* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: changeColor 10s infinite;
}

.container {
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    height: 350px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: #393e46;
}

h2 {
    color:  #777777;
}

.label-spacing {
        margin-bottom: 20px; /* 20 piksel boşluk bırakır */

}

.input-container {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result-container {
    margin-top: 20px;
    font-weight: bold;
}



@keyframes changeColor {
    0% { background-color: #0c192c; }
    25% { background-color: #1a2980; }
    50% { background-color: #c32b5d; }
    75% { background-color: #00d2ff; }
    100% { background-color: #0c192c; }
}

@keyframes bubble {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}
